
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .fh5co-nav-toggle i::before, .menu-show .fh5co-nav-toggle i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}


.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
  }
}

#fh5co-portfolio-section, #fh5co-intro-section,
#fh5co-services-section, #fh5co-contact-section,
#fh5co-team-section {
  padding-bottom: 5em;
}

#fh5co-intro-section {
  margin-bottom: 4em;
  padding-bottom: 3em;
}

.intro-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .intro-heading {
    font-size: 30px;
  }
}

#filters {
  padding: 0;
  list-style: none;
}
#filters li {
  display: inline-block;
  margin-right: 20px;
}
#filters li span {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}
#filters li span:hover, #filters li span:focus, #filters li span.active {
  color: #000 !important;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 33.33%;
  display: none;
  float: left;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  #portfoliolist .portfolio {
    width: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  #portfoliolist .portfolio {
    width: 50% !important;
  }
}
@media screen and (max-width: 480px) {
  #portfoliolist .portfolio {
    width: 100% !important;
  }
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio {
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
}

.portfolio img {
  max-width: 100%;
  z-index: -1;
  position: relative;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 85px;
  bottom: -85px;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  background: #009ee0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 5px 8px;
}
.portfolio .label-text a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
}
.portfolio .label-text a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.portfolio .text-category {
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: normal;
}

.portfolio:hover .label {
  bottom: 0;
}

.portfolio:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.team-section-grid {
  position: relative;
  background-size: cover;
  height: 450px;
  margin-bottom: 30px;
}
.team-section-grid .overlay-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.team-section-grid .overlay-section h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.team-section-grid .overlay-section p {
  color: rgba(255, 255, 255, 0.8);
}
.team-section-grid .overlay-section p.fh5co-social-icons a:hover, .team-section-grid .overlay-section p.fh5co-social-icons a:focus {
  text-decoration: none !important;
}
.team-section-grid .overlay-section p.fh5co-social-icons i {
  font-size: 32px;
}
.team-section-grid .overlay-section span {
  color: #fff;
  display: block;
}
.team-section-grid .overlay-section .desc {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
}
.team-section-grid:hover .overlay-section {
  opacity: 1;
}

.fh5co-services i {
  font-size: 60px;
  display: block;
  margin-bottom: 40px;
  color: #009ee0;
}

.fh5co-services-single .fh5co-services i {
  font-size: 80px;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #000;
}
.contact-info li a {
  color: #009ee0;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 3em 0;
}
#footer p {
  font-size: 16px;
}
#footer p:last-child {
  margin-bottom: 0;
}
#footer p.fh5co-social-icons a:hover, #footer p.fh5co-social-icons a:focus {
  text-decoration: none !important;
}
#footer p.fh5co-social-icons i {
  font-size: 32px;
}
#footer .social-text-align {
  text-align: right;
}
@media screen and (max-width: 992px) {
  #footer .social-text-align {
    text-align: left !important;
  }
}

.heading-section {
  margin-bottom: 3em;
}
.heading-section h2 {
  font-size: 40px;
  font-weight: 300;
}
.heading-section h3 {
  font-weight: 300;
  line-height: 1.5em;
}

.js .animate-box {
  opacity: 1000;
}

/*# sourceMappingURL=style.css.map */
